<div class="game-information">
    <div class="red-chip" draggable="true"></div>
    <p class="game-status">Turn red</p>
    <div class="yellow-chip" draggable="true"></div>
</div>

<div class="game-board">
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
<div class="game-field"></div>
</div>
